.passwordInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputContainer {
  position: relative;
}
.visibilityIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: #f4f5fb;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.passwordInputWrapper img {
  height: 30px;
  width: 30px;
}

.passwordInputWrapper .title {
  padding-left: 20px;
  font-size: 13px;
  color: #333333;
}

.passwordInput {
  width: 400px;
  height: 60px;
  border: 1.5px solid #6877ca;
  border-radius: 100px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  color: #000;
}
.passwordInput:focus {
  outline: none !important;
  border: 2px solid #6877ca;
}

.passwordInputWrapper .resetPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.passwordInputWrapper .resetPassword span {
  color: #6877ca;
  font-weight: 600;
}
.passwordInputWrapper .resetPassword span:hover {
  cursor: pointer;
}

@media only screen and (max-width: 420px){
  .passwordInput{
    width: 320px;
    height: 50px;
    padding-left: 25px;
    font-size: 16px;
  }
  .visibilityIcon {
    height: 35px;
    width: 35px;
  }
  .passwordInputWrapper {
    margin-top: 25px;
  }
  .passwordInputWrapper img {
    height: 20px;
    width: 20px;
  }
}