@import url("http://fonts.cdnfonts.com/css/general-sans");

* {
  font-family: "General Sans", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  background-image: url("./Assests/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 95vh;
  width: 95vw;
  align-items: center;
  justify-content: center;
}
.App {
}

.userCard {
  /* position: absolute; */
  width: 528px;
  height: 654px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 24px 36px 64px -14px rgba(77, 77, 77, 0.15);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userCard .header {
  display: flex;
  color: #808080;
  align-self: start;
  margin-left: 50px;
  margin-top: -50px;
}
.userCard .header span {
  margin-left: 8px;
  margin-top: 3px;
}

.userCard .header span:hover {
  cursor: pointer;
}

.userCard .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userCard .info .profileImage {
  border-radius: 50%;
}

.userCard .info span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
  margin-top: 15px;
}
.userCard .info .email {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  margin-top: 15px;
  letter-spacing: -0.01em;
}

.passwordInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputContainer {
  position: relative;
}
.visibilityIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: #f4f5fb;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.passwordInputWrapper img {
  height: 30px;
  width: 30px;
}

.passwordInputWrapper .title {
  padding-left: 20px;
  font-size: 13px;
  color: #333333;
}

.passwordInput {
  width: 400px;
  height: 60px;
  border: 1.5px solid #6877ca;
  border-radius: 100px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  color: #000;
}
.passwordInput:focus {
  outline: none !important;
  border: 2px solid #6877ca;
}

.passwordInputWrapper .resetPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.passwordInputWrapper .resetPassword span {
  color: #6877ca;
  font-weight: 600;
}
.passwordInputWrapper .resetPassword span:hover {
  cursor: pointer;
}

.signInWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 400px;
  margin-top: 40px;
}

.staySignedInContainer .checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 7px;
}
.staySignedInContainer {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.staySignedInContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.staySignedInContainer input:checked ~ .checkmark {
  background-color: #6877ca;
  border-radius: 7px;
}

.staySignedInContainer:after {
  content: "";
  position: absolute;
  display: none;
}

.staySignedInContainer input:checked ~ .checkmark:after {
  display: block;
}

.staySignedInContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.signInWrapper .signInButton {
  width: 180px;
  height: 60px;
  background-color: #6877ca;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 50px;
}
.divider {
  border-top: 1px solid #e6e6e6;
  width: 100%;
  margin-top: 50px;
  margin-bottom: -5px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 20px;
  margin-bottom: -100px;
  font-size: 12px;
  color: #999999;
}
.footer span {
  cursor: pointer;
  text-decoration: underline;
  color: #333333;
}
